[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/admin"
  to = "/admin.html"
  status = 200
  force = true
  conditions = {Role = ["authenticated"]}

[[redirects]]
  from = "/admin"
  to = "/login.html"
  status = 302
  force = true

[[redirects]]
  from = "/posts/:id"
  to = "/.netlify/functions/get-post"
  status = 200
  force = true

[[redirects]]
  from = "/post/raw/:id"
  to = "/.netlify/functions/get-raw-post"
  status = 200
  force = true

[[redirects]]
  from = "/.netlify/functions/delete-post"
  to = "/.netlify/functions/delete-post"
  status = 200
  force = true

[[redirects]]
  from = "/.netlify/functions/update-post-status"
  to = "/.netlify/functions/update-post-status"
  status = 200
  force = true

[[redirects]]
  from = "/spotify-login"
  to = "/.netlify/functions/login-spotify"
  status = 302
  force = true

[[redirects]]
  from = "/posts/:id"
  to = "/.netlify/functions/send-notification"
  status = 200
  force = true

[[redirects]]
  from = "/posts/:id"
  to = "/.netlify/functions/fetch-chat-rooms"
  status = 200
  force = true

[[redirects]]
  from = "/posts/:id"
  to = "/.netlify/functions/callback"
  status = 200

[[redirects]]
  from = "/spotify"
  to = "/spotify.html"

  [[redirects]]
  from = "/quiz"
  to = "/dq.html"
  status = 200
